<html xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<header th:fratment="mainHeader">
    <div class="banner_wrap">
        <div id="header_banner">
            <a th:href="@{/main}" id="header_logo">Index - 웹툰</a>
            <div id="header_login">
                <!-- Spring Security를 통해 로그인 상태를 확인하고 사용자의 이름을 가져와서 환영 메시지 표시 -->
                <a th:href="@{/main/searchPage}"><i class="fa-solid fa-magnifying-glass fa-lg"
                                                    style="color: #000000;"></i></a>
<!--                <span th:if="${#request.userPrincipal != null}"-->
<!--                      th:text="${#request.userPrincipal.getName()} + '님 안녕하세요'"></span>-->
                <span th:if="${#request.userPrincipal != null}">
                     <span th:text="${@memberService.getLoggedInUserNickname()} + '님 안녕하세요'"></span>
                </span>
                <a href="/members/logout" th:if="${#request.userPrincipal != null}">로그아웃</a>
                <a href="/members/login" th:unless="${#request.userPrincipal != null}">로그인</a>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">



                <button><i class="fa-solid fa-bars fa-2xl" style="color: #000000;"></i></button>
            </div>
        </div>
    </div>
    <div class="banner_wrap">
        <nav>
            <div id="nav_bar">
                <a th:href="@{/main}">홈</a>
                <a th:href="@{/main/allWebtoon}">모든 웹툰</a>
                <a th:href="@{/dailyWebtoon}">요일</a>
                <a th:href="@{/main/myPage}">마이페이지</a>
            </div>
            <a th:href="@{/new/Webtoon}">작품 등록</a>
        </nav>
    </div>
</header>
</html>