@charset "utf-8";

img {
     object-fit: cover;
}
#day_nav {
    width: 100%;
    border-bottom: 1px solid #cccccc7c;
}

#day_nav>div {
    width: 1320px;
    height: 56px;
    padding: 0 64px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#day_nav>div a {
    line-height: 56px;
    display: inline-block;
    padding: 0 16px;
    font-weight: bold;
}

#day_nav>div a:first-of-type {
    background-color: #00dc64;
    color: #fff;
}
#all_tag_name button:nth-of-type(1) {
    color: #00dc64;
}
#section_wrap {
    width: 1320px;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 0 64px;
}

#week_new_webtoon {
    margin: 24px 0;
    display: flex;
    line-height: 24px;
    justify-content: space-between;
    font-weight: bold;
}

#week_new_rank_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.week_new_rank img {
    display: inline-block;
    width: 380px;
    height: 285px;
    border: 1px solid #cccccc7c;
    border-radius: 6px;
}

.week_new_rank h3,
.week_new_rank h4,
.week_new_rank p {
    width: fit-content;
    margin-top: 8px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.week_new_rank h3:hover,
.week_new_rank h4:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.week_new_rank p {
    width: 380px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
    line-height: 24px;
    word-break: break-word;
}

#allWebtoon {
    width: 100%;
}

#all_tag_name {
    display: flex;
    margin: 24px 0;
}

#all_tag_name h2 {
    margin-right: 24px;
}

#all_tag_name *:not(#all_tag_name h2) {
    margin-right: 6px;
}

#all_tag_name button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#all_tag_name p {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

#allDayWebtoon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.days_wrap {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc7c;
}

.days_wrap h3 {
    width: 100%;
    text-align: center;
    padding: 8px 0;
}
.days_wrap:not(.days_wrap:last-of-type) {
    border-right: none;
}

.days_wrap h3 {
    margin-bottom: 12px;
}

.days {
    text-align: center;
    width: 160px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.days  a h4 {
    display: inline-block;
    text-align: center;
    max-width: 150px;
    width: fit-content;
    overflow: hidden;
     text-overflow: ellipsis;
    white-space: nowrap;
}
.thumWrap {
    width: 150px;
    height: 225px;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 6px;
}
.days img {
    display: inline-block;
    width: 150px;
    height: 225px;
    border-radius: 6px;
    border: 1px solid #cccccc7c;
    vertical-align: top;
    transition: .5s;
}
.days img:hover {
    transform: scale(1.1);
}
.days h4 {
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: 0.1s;
}

.days h4:hover {
    border-bottom: 2px solid black;
}