@charset "utf-8";

section {
    width: 1320px;
    padding: 0 64px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 32px;
}


#img_wrap {
    width: 700px;
    margin: 32px auto;
    text-align: center;
}
#img_wrap img {
    width: 690px;
    margin: 0 auto;
    display: inline-block;
    object-fit: cover;
}