@charset "utf-8";

#form_wrap {
    width: 1192px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 28px;
    margin: 28px 0;
    padding-bottom: 28px;
    padding-left: 48px;
}

img {
    display: inline-block;
    object-fit: cover;
}
form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 48px;
}

#episode_wrap label,
#form_save a,
#form_save button {
    height: 36px;
    text-align: center;
    margin: 12px 0;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #00dc64;
    border: 1px solid #9393937c;
    color: #fff;
    transition: none;
}

#episode_wrap label:hover,
#form_save a:hover,
#form_save button:hover {
    background-color: #00c257;
    color: #000;
}

#info_wrap {
    width: 50%;
    height: 362px;
}

#info_wrap h3 {
    font-size: 20px;
    margin-bottom: 24px;
}

#price_wrap {
    height: 150px;
    position: relative;
}
#price_wrap p {
    position: absolute;
    bottom: 12px;
    font-weight: bold;
    color: rgb(255, 42, 0);
}
#episode_info {
    height: 150px;
}

#episode_title {
    font-size: 16px;
    width: 500px;
    height: 40px;
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #6969697c;
    margin-bottom: 12px;
}

form input:focus {
    outline: none;
}

#sumb_wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    border-left: 1px solid #ccc;
}

.fieldError {
    margin-bottom: 24px;
}

#sumb_wrap img {
    width: 400px;
    height: 300px;
}

#episode_wrap {
    margin: 0 auto;
    text-align: center;
}

#episode_wrap>div:last-of-type {
    width: 690px;
}

#episode_wrap input {
    display: none;
}

#form_save {
    text-align: center;
}

#episode_img {
    margin: 24px 0;
}
#episode_img p {
    font-size: 16px;
    line-height: 24px;
}
#episode_img h3 {
    margin-top: 20px;
    margin-bottom: 16px;
}
#episode_img img{
    margin-top: 50px;
    width: 690px;

}

#top_btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
}
i {
    transition: none;
}
#top_btn:hover i {
    color: #00dc64;
}

/* 체크박스 스타일을 라디오 버튼에 적용 */
/* 체크박스 스타일을 라디오 버튼에 적용 */
input[type="radio"] {
    -webkit-appearance: none; /* 기본 스타일 제거 (크롬 브라우저) */
    -moz-appearance: none; /* 기본 스타일 제거 (파이어폭스 브라우저) */
    appearance: none; /* 기본 스타일 제거 (다른 브라우저) */
    width: 25px; /* 체크박스 크기 조정 */
    height: 25px; /* 체크박스 크기 조정 */
    border: 1px solid #333; /* 체크박스 테두리 스타일 */
    border-radius: 4px; /* 체크박스 모서리 둥글게 */
    background-color: white; /* 체크박스 배경색 */
    cursor: pointer; /* 커서 스타일 변경 */
    vertical-align: middle; /* 세로 정렬 */
    position: relative; /* 상대적인 위치 설정 */
}

/* 체크박스 라벨 스타일 */
label {
    font-size: 20px;
    display: inline-block; /* 라벨 요소를 인라인 블록 요소로 변경 */
    margin-right: 24px; /* 라벨 사이 간격 설정 */
    cursor: pointer; /* 커서 스타일 변경 */
}

/* 체크된 라디오 버튼 스타일 */
input[type="radio"]:checked {
    background-color: #fff; /* 체크된 상태 배경색 변경 */
    border: 1px solid #000; /* 체크된 상태 테두리 스타일 변경 */
}

/* 체크된 라디오 버튼에 체크 문양(체크 마크) 추가 */
input[type="radio"]:checked::before {
    content: "\2713"; /* 체크 마크(✓) 아이콘 추가 */
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%); /* 가운데 정렬 */
    font-size: 24px; /* 체크 마크 아이콘 크기 조정 */
    color: #00dc64; /* 체크 마크 아이콘 색상 설정 */
}
#episode_price {
    margin-top: 16px;
    font-size: 16px;
    width: 170px;
    height: 40px;
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #6969697c;
    margin-bottom: 12px;
}