@charset "utf-8";

section {
    width: 1320px;
    margin: 0 auto;
    padding: 0 64px;
}

h1 {
    font-size: 24px;
    margin: 24px 0;
}


#user_info > div:last-of-type {
    width: 100%;
    text-align: center;
    margin: 12px 0 24px;
}

#user_info a:last-of-type {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px 16px;
    background-color: #00dc64;
    color: #fff;
    font-weight: bold;
}

#user_info a:last-of-type:hover {
    background-color: #00c257;
    color: #000;

}

#user_info table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#user_info th, #user_info td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#user_info th {
    background-color: #f2f2f2;
}

#user_info th:first-child, #user_info td:first-child {
    width: 15%;
    background-color: #f9f9f9;
    font-weight: bold;
}

#user_info td {
    padding: 16px 16px;
}

#user_info td span {
    font-weight: normal;
    border: 1px solid #e4e4e4;
    padding: 4px 8px;
}

.user_webtoon {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 8px;
}

.user_webtoon img {
    display: inline-block;
    border-radius: 6px;
    object-fit: cover;
}

.user_webtoon img:first-of-type {
    width: 200px;
    height: 300px;
}

.user_webtoon img:last-of-type {
    width: 300px;
    height: 225px;
    margin-bottom: 38px;
    margin-left: 40px;
}


.webtoon_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.webtoon_wrap > div:last-of-type {
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.webtoon_info_wrap {
    border: 1px solid #ccc;
    width: 50%;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.webtoon_info_wrap > div {
    height: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0 8px;
}

.webtoon_info_wrap h3 {
    width: 100%;
}

.webtoon_info_wrap > p:last-of-type {
    border-top: 1px solid #ccc;
    padding-top: 8px;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
}

.webtoon_wrap > div:last-of-type a {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px 16px;
    background-color: #00dc64;
    color: #fff;
    font-weight: bold;
    margin-right: 16px;

}

.webtoon_wrap > div:last-of-type a:hover {
    background-color: #00c257;
    color: #000;

}
.webtoon_wrap > div:last-of-type a:last-of-type + form {
    display: inline-block;
}
.webtoon_wrap .delete_webtoon {
    background-color: #bd2130;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

}
.webtoon_wrap .delete_webtoon:hover {
    background-color: #ff0000;
    color: #000;
}
#none_webtoon {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}
