<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/episodePageLayout.html}">
<th:block layout:fragment="css">
    <style>
        #nav_bar a:nth-of-type(2) {
            background-color: #00dc64;
            color: #fff;
        }


    </style>
</th:block>
<section layout:fragment="content">
    <h1 th:if="${successMessage != null and successMessage != ''}" th:text="${successMessage}"></h1>


    <div id="img_wrap">
        <img th:src="@{${episodeViewDto.webtoonPath + '/' + episodeViewDto.webtoonImgPath}}">
    </div>


    <script th:inline="javascript">

        // document.addEventListener("DOMContentLoaded", function () {
        //
        //     let successMessage = /*[[${successMessage}]]*/ null;
        //
        //     console.log(successMessage);
        //     if (successMessage !== null && successMessage !== "") {
        //         alert(successMessage);
        //     }
        //
        // });
    </script>


</section>
</html>
