<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/webtoonPageLayout}">
<th:block layout:fragment="css">
    
    <style>
        #nav_bar a:nth-of-type(2) {
            background-color: #00dc64;
            color: #fff;
        }


    </style>
</th:block>
<section layout:fragment="content">

    <div id="webtoon_wrap">
        <img th:src="@{${webtoonData.webtoonPath + '/' + webtoonData.thumbnail1}}" th:alt="${webtoonData.title}">
        <div id="webtoon_info">
            <h1 th:text="${webtoonData.title}">작품명</h1>
            <a th:href="@{/main/search(searchQuery=${webtoonData.user_nickName}, searchType='writer')}"><h3><i class="fa-solid fa-feather"></i> 작가 : <span
                    th:text="${webtoonData.user_nickName}"></span> <i class="fa-solid fa-users-viewfinder"></i> 조회수 :
                <span th:text="${webtoonData.view}">조회수</span>
                <br>
                <i class="fa-solid fa-star"></i> 별점 : <span th:text="${webtoonData.star}"></span> <i
                        class="fa-solid fa-thumbs-up"></i> Like : <span th:text="${webtoonData.like}"></span></h3>
            </a>

            <p th:text="${webtoonData.webtoonInfo}">작품상세</p>

            <div id="webtoon_day">
                <a th:each="day : ${#strings.arraySplit(webtoonData.day, '#')}" th:text="'#' + ${day}"
                   href="#"
                >요일태그</a>
            </div>
            <div id="webtoon_tag">
                <a th:each="genre : ${#strings.arraySplit(webtoonData.genre, '#')}" th:text="'#' + ${genre}"
                   th:href="@{/main/search(searchQuery=${genre}, searchType='genre')}"
                >장르태그</a>
            </div>
        </div>
    </div>


    <div th:if="${#lists.isEmpty(webtoonImgData)}">
        <p id="none_episode">아직 에피소드가 없습니다.</p>
    </div>

    <div id="episode_wrap" th:unless="${#lists.isEmpty(webtoonImgData)}">
        <div>
            <h4 id="episode_count">총 <span th:text="${#lists.size(webtoonImgData)}"></span>화</h4>
            <div>
                <a th:href="@{/webtoonPage/{webtoonId}/episode/{episodeId}(webtoonId=${webtoonData.id}, episodeId=${webtoonImgData[0].id})}">최신화
                    보기</a>
                <a th:href="@{/webtoonPage/{webtoonId}/episode/{episodeId}(webtoonId=${webtoonData.id}, episodeId=${webtoonImgData[#lists.size(webtoonImgData) - 1].id})}">1화
                    보기</a>
            </div>
        </div>

        <div id="episode_list">
            <div class="episode_each" th:each="episode : ${webtoonImgData}">
                <a th:href="@{/webtoonPage/{webtoonId}/episode/{episodeId}(webtoonId=${webtoonData.id}, episodeId=${episode.id})}">
                    <img th:src="@{${episode.webtoonPath + '/' + episode.thumbnail}}" th:alt="${episode.title}">
                    <div>
                        <h3>
                            <div>
                                <span><span th:text="${#lists.size(webtoonImgData) - episodeStat.index}"></span> 화 &nbsp;</span>
                                <span th:text="${episode.title}"></span>
                            </div>
                            <div>
                                <span><i class="fa-solid fa-star"></i> 별점 : <span
                                        th:text="${episode.star}"></span></span>
                                <span th:if="${episode.price == 0}" class="free_webtoon"> 무료 웹툰</span>
                                <span th:if="${episode.price != 0}" class="paid_webtoon">가격 : <span
                                        th:text="${episode.price}"></span> 쿠키 <i class="fa-solid fa-cookie-bite"
                                                                                 style="color: #ffd700;"></i></span>
                            </div>
                        </h3>
                        <h4>
                            <div>
                                <i class="fa-solid fa-users-viewfinder"></i> 조회수 : <span
                                    th:text="${episode.view}"></span>
                                <i class="fa-solid fa-thumbs-up"></i> Like : <span th:text="${episode.like}"></span>
                            </div>
                            <div>
                                등록일 : <span th:text="${episode.registrationDate}"></span>
                            </div>
                        </h4>
                    </div>
                </a>
            </div>
        </div>

    </div>


    <script th:inline="javascript">

        document.addEventListener("DOMContentLoaded", function () {


            let errorMessage = /*[[${errorMessage}]]*/ null;

            if (errorMessage) {
                alert(errorMessage);
                window.location.href = '/main';
            }

            let successMessage = /*[[${successMessage}]]*/ null;

            console.log(successMessage);
            console.log(errorMessage);
            if (successMessage !== null && successMessage !== "") {
                alert(successMessage);

            }

        });
    </script>


</section>
</html>
