@charset "utf-8";


html {
    scroll-behavior: smooth;
}

section {
    width: 700px;
    margin: 0 auto;
}

img {
    display: inline-block;
    border-radius: 6px;
    object-fit: cover;
}

#webtoon_wrap {
    margin-top: 24px;
    display: flex;
}

#webtoon_wrap img {
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    flex-shrink: 0;
}

#webtoon_info {
    padding-left: 24px;
}

#webtoon_info h3 {
    width: fit-content;
    line-height: 32px;
    margin: 24px 0 16px;
}

#webtoon_info h3 span:not(:last-of-type) {
    padding-right: 10px;
    margin-right: 10px;
    display: inline-block;
}


#webtoon_info > p {
    font-size: 14px;
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-word;
    line-height: 26px;
    font-weight: bold;
    max-height: 80px;
    margin-bottom: 8px;
    height: 100px;
}

#webtoon_day {
    display: flex;
    flex-wrap: wrap;
}

#webtoon_day a {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 6px;
    background-color: #dbdbdb7c;
    font-weight: bold;
    font-size: 13px;
    margin-right: 6px;
    border: 1px solid rgb(196, 196, 196);
}

#webtoon_tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

#webtoon_tag a {
    padding: 2px 8px;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
    margin-right: 6px;
}

#episode_wrap > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    color: #666;
}

#episode_wrap > div:nth-of-type(1) a {
    font-weight: bold;
    color: #666;
    padding-right: 8px;

}

#episode_wrap > div:nth-of-type(1) a:nth-of-type(1) {
    border-right: 1px solid #ccc;
}

#episode_list {
    margin: 24px 0;
}

.episode_each {
    position: relative;
}

.episode_each > a {
    padding: 4px 0;

    display: flex;
    border-top: 1px solid #ccc;
}

.episode_each:last-of-type {
    border-bottom: 1px solid #ccc;
}


.episode_each img {
    border-radius: 2px;
    width: 120px;
    height: 90px;
    flex-shrink: 0;
}

.episode_each > a > div {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.episode_each:hover > a:first-of-type {
    background-color: #e8e8e8;
}


.episode_each > a > div h3 {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.free_webtoon {
    background-color: #00dc64;
    color: #fff;
}

.paid_webtoon {
    background-color: #bd2130;
    color: #FFFF00;
}

.episode_each > a > div h3 > div:last-of-type > span:last-of-type {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    z-index: 1;
}

.episode_each > a > div h3 > div:last-of-type {
    width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.episode_each > a > div h4 {
    display: flex;
    justify-content: space-between;
}

.episode_each > a > div h4 > div:first-of-type span:not(:last-of-type) {
    border-right: 1px solid #ccc;
    padding-right: 12px;
    margin-right: 8px;
}

.episode_each > a > div h4 span:last-of-type {
    font-weight: normal;
    color: #666;
}

#none_episode {
    margin: 32px auto;
    font-size: 32px;
    font-weight: bold;
    text-align: center;

}


section > h2:first-of-type {
    margin-top: 24px;
    text-align: center;
    font-size: 28px;
}

#user_create {
    width: 100%;
    text-align: right;
    margin-top: 12px;
}

#user_create a:last-of-type {
    margin-left: 16px;
}

#user_create a {
    background-color: #00dc64;
    padding: 4px 12px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#user_create a:hover {
    background-color: #00c257;
    color: #000;
}

#episode_edit {
    margin: 8px 0;
    text-align: right;
}

#episode_edit a,
#episode_edit button {
    border: 1px solid #ccc;
    padding: 4px 12px;
    font-size: 16px;
    font-weight: bold;
}

#episode_edit a {
    background-color: #00dc64;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
}

#episode_edit a:hover {
    background-color: #00c257;
    color: #000;
}

#episode_edit button {
    border-radius: 6px;
    background-color: #bd2130;
    color: #fff;
    cursor: pointer;
}

#episode_edit button:hover {
    background-color: #ff0000;
    color: #000;
}