<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myPageLayout}">
<th:block layout:fragment="css">
    <style>
        #nav_bar a:nth-of-type(4) {
            background-color: #00dc64;
            color: #fff;
        }
    </style>
</th:block>
<section layout:fragment="content">
    <h1>마이 페이지</h1>
    <div id="user_info">
        <table>
            <tr>
                <td><i class="fa-solid fa-envelope"></i> 이메일(아이디)</td>
                <td><span th:text="${memberInfo.email}">이메일</span></td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-feather"></i> 닉네임</td>
                <td><span th:text="${memberInfo.getNickName()}">닉네임</span></td>
            </tr>
            <tr>
                <td>나이 <i class="fa-solid fa-image-portrait"></i></td>
                <td>
                    <span th:if="${memberInfo.getAge() >= 0 and memberInfo.getAge() < 10}">10대 미만</span>
                    <span th:if="${memberInfo.getAge() >= 10 and memberInfo.getAge() < 20}">10대</span>
                    <span th:if="${memberInfo.getAge() >= 20 and memberInfo.getAge() < 30}">20대</span>
                    <span th:if="${memberInfo.getAge() >= 30 and memberInfo.getAge() < 40}">30대</span>
                    <span th:if="${memberInfo.getAge() >= 40 and memberInfo.getAge() < 50}">40대</span>
                    <span th:if="${memberInfo.getAge() >= 50 and memberInfo.getAge() < 60}">50대</span>
                    <span th:if="${memberInfo.getAge() >= 60 and memberInfo.getAge() < 70}">60대</span>
                    <span th:if="${memberInfo.getAge() >= 70 and memberInfo.getAge() < 80}">70대</span>
                    <span th:if="${memberInfo.getAge() >= 80 and memberInfo.getAge() < 90}">80대</span>
                    <span th:if="${memberInfo.getAge() >= 90 and memberInfo.getAge() < 100}">90대</span>
                    <span th:if="${memberInfo.getAge() >= 100}">100 살 이상</span>
                </td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-venus-mars"></i> 성별</td>
                <td>
                    <span th:if="${memberInfo.gender == 'male'}">남성</span>
                    <span th:if="${memberInfo.gender == 'female'}">여성</span>
                </td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-cookie-bite"
                       style="color: #ffd700;"></i> 남은 쿠키</td>
                <td><span th:text="${memberInfo.getPoint()}">쿠키 </span> </td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-map-location-dot"></i> 주소</td>
                <td>
                    <span th:if="${memberInfo.address == null or memberInfo.address == ''}">등록된 주소가 없습니다.</span>
                    <span th:unless="${memberInfo.address == null or memberInfo.address == ''}"
                          th:text="${memberInfo.address}">주소</span>
                </td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-arrow-right-to-bracket"></i> 가입일</td>
                <td><span th:text="${memberInfo.getReg_time()}">가입일</span></td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-file-signature"></i> 수정일 </td>
                <td><span th:text="${memberInfo.getUpdate_time()}">수정일</span></td>
            </tr>
        </table>
        <div>
            <a th:href="@{/members/edit}">정보 수정</a>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(userWebtoonList)}" id="none_webtoon">
        <p>아직 등록된 작품이 없습니다.</p>
    </div>

    <div th:each="webtoon : ${userWebtoonList}" class="user_webtoon">
        <div class="webtoon_wrap">
            <a th:href="@{/webtoonPage/{webtoonId}(webtoonId=${webtoon.id})}">
                <div>
                    <img th:src="@{${webtoon.webtoonPath + '/' + webtoon.thumbnail1}}" th:alt="${webtoon.title}">
                    <img th:src="@{${webtoon.webtoonPath + '/' + webtoon.thumbnail1}}" th:alt="${webtoon.title}">
                </div>
            </a>
            <div class="webtoon_info_wrap">
                <h3>작품 정보</h3>
                <div class="card1">
                    <p><i class="fa-solid fa-feather"></i> 작가명 : <span th:text="${webtoon.user_nickName}">User Nickname</span></p>
                    <p><i class="fa-regular fa-square-plus"></i> 등록일 : <span th:text="${webtoon.registrationDate}">Registration Date</span></p>
                    <p><i class="fa-solid fa-star"></i> 별점 : <span th:text="${webtoon.star}">Star</span></p>
                    <p><i class="fa-solid fa-users-viewfinder"></i> 조회수 : <span th:text="${webtoon.view}">View</span></p>
                    <p><i class="fa-solid fa-thumbs-up"></i> Like : <span th:text="${webtoon.like}">Like</span></p>
                </div>

                <div class="card2">
                    <p>제목 : <span th:text="${webtoon.title}">Title</span></p>

                    <p>장르 : <span th:text="${webtoon.genre}">Genre</span></p>
                    <p>요일 : <span th:text="${webtoon.day}">Day</span></p>
                    <p>연령 제한 : <span th:text="${webtoon.age_limit}">Age Limit</span></p>
                </div>
                <p><i class="fa-solid fa-circle-info"></i> 웹툰 정보 : <span th:text="${webtoon.webtoonInfo}">Webtoon Info</span></p>
            </div>

            <div>
                <a th:href="@{/main/myPage/{webtoonId}(webtoonId=${webtoon.id})}">회차 보기</a>
                <a th:href="@{/new/episode/{webtoonId}(webtoonId=${webtoon.id})}">회차 등록</a>
                <a th:href="@{/edit/webtoon/{webtoonId}(webtoonId=${webtoon.id})}">작품 수정</a>
                <a th:href="@{/webtoonPage/{webtoonId}(webtoonId=${webtoon.id})}">작품 보기</a>
                <form method="POST" th:action="@{/deleteWebtoon}">
                    <input type="hidden" name="webtoonId" th:value="${webtoon.id}">
                    <button class="delete_webtoon" type="submit">작품 삭제</button>
                </form>
            </div>
        </div>

    </div>
    <script th:inline="javascript">

        document.addEventListener("DOMContentLoaded", function () {


            let errorMessage = /*[[${errorMessage}]]*/ null;

            if (errorMessage) {
                alert(errorMessage);
                window.location.href = '/main';
            }

            let successMessage = /*[[${successMessage}]]*/ null;

            console.log(successMessage);
            if (successMessage !== null && successMessage !== "") {
                alert(successMessage);
                window.location.href = '/main/myPage';
            }

        });
    </script>
</section>

</html>
