<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="content" class="container">
    <head>
    <meta charset="UTF-8">
    <title>게시물 리스트</title>
</head>
    <!-- 게시물 목록 테이블 -->
    <table>
        <tr>
            <th></th>
            <th>title</th>
            <th>writer</th>
            <th>date</th>
            <th>hits</th>
        </tr>
        <tr th:each="board: ${boardList}">
            <td></td>
            <!-- 제목(title)을 클릭하면 해당 게시물의 상세 페이지로 이동하는 링크 -->
            <td><a th:href="@{|/board/list/${board.id}|}" th:text="${board.boardTitle}"></a></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="*{#temporals.format(board.boardRegTime, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.boardHits}"></td>
        </tr>
    </table>

    <!-- 페이징 링크 -->
    <!-- 첫번째 페이지로 이동 -->
    <a th:href="@{/board/list(page=1)}">First</a>
    <!-- 이전 링크 활성화 비활성화 -->
    <a th:href="${boardList.hasPrevious()} ? @{/board/list(page=${boardList.number})} : '#'">prev</a>
    <!-- 페이지 번호 링크(현재 페이지는 숫자만) -->
    <span th:each="page: ${#numbers.sequence(boardList.number - 1, boardList.number + 1)}" th:if="${page >= 0 and page < boardList.totalPages}">
    <!-- 현재 페이지는 링크 없이 숫자만 -->
    <span th:if="${page == boardList.number}" th:text="${page + 1}"></span>
        <!-- 현재 페이지 번호가 아닌 다른 페이지 번호에는 링크를 보여줌 -->
    <span th:unless="${page == boardList.number}">
        <a th:href="@{/board/list(page=${page})}" th:text="${page + 1}"></a>
    </span>
</span>
    <!-- 다음 링크 활성화 비활성화 -->
    <a th:href="${boardList.hasNext()} ? @{/board/list(page=${boardList.number + 1})} : '#'">next</a>
    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/board/list(page=${boardList.totalPages})}">Last</a>


    <a href="/board/post">글작성(링크)</a>

</div>
</html>