<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<div layout:fragment="content" class="container">

<div layout:fragment="content">
    <form action="@{/post}" th:object="${BoardFormDto}" method="post">
        제목 : <input type="text" th:field="*{BoardForm.title}" placeholder="제목을 입력해주세요"><br>
        내용 : <textarea th:field="*{BoardForm.content}" placeholder="내용을 입력해주세요"></textarea><br>
        <a class="btn btn-primary" th:href="@{/list}" role="button">글생성</a>
    </form>
</div>
</div>
</html>