@charset "utf-8";

section {
    width: 1320px;
    padding: 0 64px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    margin: 28px 0;
    width: 100%;
    flex-shrink: 0;
    padding-left: 48px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

form > div {
    width: 50%;
    padding-bottom: 32px;
}

form > div:first-of-type {
    border-right: 1px solid #9393937c;
}

form input:focus {
    outline: none;
}

form > div:first-of-type > div {
    padding: 0 48px;
    margin-bottom: 16px;
}

form > div:first-of-type div h3 {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 24px;
}

form > div:first-of-type p {
    width: 100%;
    margin: 8px 0;
}

#new_name input {
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #6969697c;
}

#new_genre > input:first-of-type {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 4px 12px;
    border: 1px solid #6969697c;
    border-radius: 4px;
}

#all_tag_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.tag_wrap {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    height: 30px;
    margin-bottom: 12px;
}

.tag_wrap input {
    width: 20px;
    margin-right: 6px;
}

.tag_wrap label {
    width: 80px;
    line-height: 26px;
    margin-right: 5px;
}

#limit_age label {
    font-size: 18px;
    margin-right: 20px;
}

#new_day label {
    font-size: 18px;
    margin-right: 45px;
}

#new_day input:nth-of-type(-n+4) {
    margin-bottom: 8px;
}

#upload_thumbnail {
    display: flex;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}

.form-group:first-of-type {
    justify-content: left;
    width: 44%;
    padding-left: 48px;
}

.form-group:first-of-type label {
    margin-left: 35px;
}

.form-group:last-of-type {
    justify-content: right;
    width: 56%;
    padding-right: 48px;
    padding-top: 48px;
}

.form-group:last-of-type label {
    height: 36px;
    margin-top: 54px;
    margin-right: 80px;
}

.form-group:first-of-type img {
    width: 200px;
    height: 300px;
    display: inline-block;
    object-fit: cover;
}

#thumbnail_info {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
    color: #000000;
    font-weight: bold;
    line-height: 24px;
}

.form-group:last-of-type img {
    width: 280px;
    height: 210px;
    display: inline-block;
    object-fit: cover;

}

.fieldError {
    color: rgb(230, 19, 0);
    font-weight: bold;
}

.form-group input {
    display: none;
}

.form-group label {
    height: 36px;
    text-align: center;
    margin: 12px 0;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #00dc64;
    border: 1px solid #9393937c;
    color: #fff;
}

.form-group label:hover {
    background-color: #00c257;
    color: #000;
}


#webtoon_info_form {
    padding: 0 48px;
}

#webtoon_info_form h3 {
    margin: 12px 0;
}

#webtoon_info_form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #6969697c;
    font-size: 16px;
}

#webtoon_info_form textarea:focus {
    outline: none;
}

#maxTextLine {
    display: flex;
    justify-content: right;
}

#webtoon_info_form p:last-of-type {
    margin-left: 16px;
}

#form_save {
    width: 100%;
    text-align: right;
    padding-right: 48px;
}

#form_save a {
    display: inline-block;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #7373737c;
    background-color: #cccccc7c;
    color: #4e4e4e;
}

#form_save a:hover {
    background-color: #adadad7c;
}

#form_save button {
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #9393937c;
    background-color: #00dc64;
    color: #fff;
    margin-left: 4px;
}

#form_save button:hover {
    background-color: #00c257;
    color: #000;
}